body {
    background-color: #f2f1e1;
    font-family: sans-serif;
    margin: auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: stretch;
}

header {
    background: url("singer-sargent.jpg") no-repeat;
    background-size: 100%;
    padding: 1%;
    margin: 0%;
    border-bottom: 2px solid black;
}

h1 {
    color: #fcfbef;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 1%;
}

#content {
    margin: auto;
    flex-grow: 1;
    flex: 1;
}

footer {
    margin-top: auto;
    border-top: 2px solid black;
}

a {
    color: black;
}
