<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chris Lample's blog</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <h1>Chris Lample</h1>
    </header>
    <div id="content">
      {% block content %} {% endblock %}
    </div>
    <footer>
      <p>
        The header image is from <a href="https://www.nga.gov/collection/art-object-page.73835.html">John Singer Sargent</a>.
      </p>
    </footer>
  </body>  
  
</html>
